@import 'variables';

.darken {
  filter: brightness(80%);
}

.container {
  margin: 0 !important;
  padding: 0 !important;
}

.view_buttons {
  margin-bottom: 3vh;
  button {
    width: calc(50% - 2vw);
    margin: 1vw;
  }
}

.view_header, .view_content {
  padding: 3vh;
}

.view_select {
  h1 {
    font-size: 1.5vh;
    font-family: 'Open Sans';
  }
}

.view_grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.section_content {
  padding-top: 1.5vh;
}

.detail_header {
  padding: 0;
  overflow: hidden;
  img {
    width: 100%;
  }
}

.detail_info, .detail_review {
  display: -webkit-box;
  flex-direction: row;
}

.detail_icon {
  width: 4vw;
  height: auto;
  margin-right: 3vw;
}