@import 'types';
@import 'grids';
@import 'buttons';
@import 'variables';

a {
  text-decoration: none;
  cursor: pointer;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

.center {
  justify-content: center;
}